<div class="row responsive-utilities-test visible-on">
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-xs">Extra small</span>
      <span class="visible-xs">✔ Visible on x-small</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-sm">Small</span>
      <span class="visible-sm">✔ Visible on small</span>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-md">Medium</span>
      <span class="visible-md">✔ Visible on medium</span>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="hidden-lg">Large</span>
      <span class="visible-lg">✔ Visible on large</span>
    </div>
  </div>

<div class="row responsive-utilities-test visible-on">
    <div class="col-xs-6 col-sm-6">
      <span class="hidden-xs hidden-sm">Extra small and small</span>
      <span class="visible-xs visible-sm">✔ Visible on x-small and small</span>
    </div>
    <div class="col-xs-6 col-sm-6">
      <span class="hidden-md hidden-lg">Medium and large</span>
      <span class="visible-md visible-lg">✔ Visible on medium and large</span>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-6">
      <span class="hidden-xs hidden-md">Extra small and medium</span>
      <span class="visible-xs visible-md">✔ Visible on x-small and medium</span>
    </div>
    <div class="col-xs-6 col-sm-6">
      <span class="hidden-sm hidden-lg">Small and large</span>
      <span class="visible-sm visible-lg">✔ Visible on small and large</span>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-6">
      <span class="hidden-xs hidden-lg">Extra small and large</span>
      <span class="visible-xs visible-lg">✔ Visible on x-small and large</span>
    </div>
    <div class="col-xs-6 col-sm-6">
      <span class="hidden-sm hidden-md">Small and medium</span>
      <span class="visible-sm visible-md">✔ Visible on small and medium</span>
    </div>
  </div>