<button type="button" class="close" aria-hidden="true">&times;</button>
<br />
<span class="caret"></span>
<br />
<div class="pull-left">...</div>
<div class="pull-right">...</div>
<br />
<div class="center-block">...</div>
<br />
<h1 class="text-hide">Custom heading</h1>
